.cardStyle {
  background-image:
    linear-gradient( #abbaab, #fff) !important;
  border: 0;
}

.textColor {
  color: #abbaab !important;
  font-family: 'Inconsolata', monospace;
  font-weight: 800;
}

.descriptionText {
  font-size: 1.2rem;
  margin-top: 5rem;
}

.sunriseSunset {
  font-size: 1.2rem;
}

img{
  max-width: 100%;
}

.box{
  background-color: white;
  width: 100%;
  height: calc(100vh - 120px);
  border-radius: 10px;
  box-shadow: 0px 1px 7px rgba(0,0,0, 0.25);
}

h1{
  font-size: 2em;
  /* text-align: center; */
  color: #abbaab
}

.temp{
  font-size: 5em;
  line-height: 1;
  text-align: center;
  display: block;
  padding-left: 30px;
  margin-bottom: 24px;
}

.high-low{
  font-size: 2em;
  color: lighten(#abbaab, 20%);
  text-align: center;
  display: block;
  font-weight: 100;
}

.weather .icon{
  position: relative;
  margin: 0 auto;
}

.spin{
  position: absolute;
  top: 16px;
  right: 18px;
  text-align: center;
  width: 65px;
}


.bubble.black { 
    position: relative;
    width: 100px;
    height: 100px;
    padding: 0px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

@media only screen and (max-width: 992px)  {
  .box {
    height: 100%;
  }

  .descriptionText {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
  
  .sunriseSunset {
    font-size: 1.5rem;
  }

  h1{
    font-size: 1.2em;
  }
  
  .temp{
    font-size: 2em;
    line-height: 1;
    text-align: center;
    display: block;
    padding-left: 30px;
    margin-bottom: 24px;
  }
  
  .high-low{
    font-size: 2em;
  }

  .icons {
    font-size: 1.5rem;
  }
}